html {
  scroll-behavior: smooth;
}

section {
  margin: 0px 20vw 0px 20vw;
}

.header {
  height: 8vh;
  padding: 10px 5vw 0px 5vw;
}

#call-to-action {
  border-radius: 12px;
  font-size: large;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.hero {
  height: 110vh;
  margin: 0px 20vw 0px 20vw;
  text-align: center;
}

.hero>img {
  width: 100%;
}

.hero>h1 {
  font-size: 60px;
}

.hero>h2 {
  font-size: 25px;
}

.details {
  /* margin: 0px 20vw 0px 20vw; */
  padding-bottom: 20px;
  ;
}

.features {
  /* margin: 0px 20vw 0px 20vw; */
  padding: 0px 0px 10vh 0px;
}

.single-feature {
  padding-bottom: 20px;
  height: 30vh;
}

.single-feature>img {
  max-height: 100%;
  width: 50%;
}

.single-feature>div {
  text-align: center;
}

.single-feature#left>img {
  float: left;
}

.single-feature#right>div {
  width: 50%;
  float: left;
}

.single-feature#right>img {
  float: right;
}

.form {
  margin: 0px 20vw 50px 20vw;
  height: 80vh;
  text-align: center;
}

.form>iframe {
  width: 50vw;
  height: 80vh;
}

.footer {
  height: 10vh;
  background-color: rgb(233, 233, 233);
}

@media only screen and (max-width: 600px) {
  section {
    margin: 0px 5vw 0px 5vw;
  }

  .hero {
    height: 110vh;
    margin: 0px 7vw 0px 7vw;
    text-align: center;
  }

  .single-feature {
    padding-bottom: 20px;
    height: 20vh;
  }

  section#form {
    margin: 0 auto;
    text-align: center;
  }

  .form>iframe {
    width: 80vw;
  }
}