html {
  scroll-behavior: smooth;
}

section {
  margin: 0px 20vw 0px 20vw;
}

.header {
  height: 8vh;
  padding: 10px 5vw 0px 5vw;
}


#call-to-action {
  border-radius: 12px;
  font-size: large;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.hero {
  height: 35vh;
  margin: 0px 20vw 0px 20vw;
  text-align: center;
}

.hero>img {
  width: 100%;
}

.hero>h1 {
  font-size: 60px;
}

.hero>h2 {
  font-size: 25px;
}

.details {
  padding-bottom: 20px;
}

.features {
  padding: 0px 0px 10vh 0px;
}


.highlight {
  background-color: #FBECF4;
}

::selection {
  background: #FBECF4;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #FBECF4;
  /* Gecko Browsers */
}

.single-feature {
  height: 30vh;
}

.single-feature>div {
  vertical-align: top;
  width: 50%;
  text-align: center;
  display: inline-block;
}

.single-feature>div>img {
  max-height: 100%;
  width: 100%;
}

.form {
  margin: 0px 20vw 0px 20vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 80vh;
  text-align: center;
}

.form>iframe {
  width: 50vw;
  height: 80vh;
}

.footer {
  height: 20vh;
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  section {
    margin: 0px 5vw 0px 5vw;
  }

  .hero {
    height: 110vh;
    margin: 0px 7vw 0px 7vw;
    text-align: center;
  }

  .single-feature {
    padding-bottom: 20px;
    height: 20vh;
  }

  section#form {
    margin: 0 auto;
    text-align: center;
  }

  .form>iframe {
    width: 80vw;
  }
}